.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable {
    background-color: rgb(162, 203, 201);
    min-height: 120px;
    margin-bottom: 1rem;
    transition-duration: 1s;
}

#onPageTitle, #navbarProjectTitle {
    color: white;
}

.navbar {
    width: 125% !important;
    height: 70px;
}

.task-description {
    overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      -moz-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      box-orient: vertical;
}

.task-info {
    height: 200px;
}